.navbar{
    background-color: gray;
    
}
.wasim1{
    height: 40%;
    
}
.container-fluid {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .shahid{
   display: block;
  }

.wasimhattiwale{
  float: left;
}
.back{
 background-image: url();
}
.cards-wrapper {
  display: f50x;
  justify-content: center;
}
.one{
  padding-right: 150px;
}

/* Hover cards */

/* body{
  font-family: 'Nunito', sans-serif;
  padding: 50px;
} */
.cards{
    border-radius: 4px;
    background: black;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.cards:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(226, 18, 18, 0.06);
}

.cards h3{
  font-weight: 600;
}

.cards img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.cards-1{
  /* background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png); */
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.cards-2{
   /* background-image: url(https://ionicframework.com/img/getting-started/components-card.png); */
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.cards-3{
   /* background-image: url(https://ionicframework.com/img/getting-started/theming-card.png); */
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .cards{
    margin: 20px;
  }
} 


/* side text cards */

.t{
  background-color: wheat;
}

.tt{
  background-color: gray;
}
.ww{
  background-color: black;
}